*.zip
.kappa
appdirs*
aws_lambda*
boto*
cachetools*
click*
concurrent*
dateutils*
docutils*
futures*
google*
httplib*
jmespath*
packaging*
pkg_resources*
protobuf*
pyaml*
pyasn*
pyparsing*
python*
pytz*
PyYAML*
requests*
rsa*
s3transfer*
setuptools*
six*
tests*
virtualenv*
yaml*
appdirs*
easy_install.*
protobuf*
pyparsing*
dateutil*
urllib3*
idna*
chardet*
certifi*
requests*